<% content_for :navbar_menu do %>
    <ul class="nav pull-right" role="menu">
      <li><a href="map">Map</a></li>
      <li><a href="list">Listings</a></li>
    </ul>
<% end %>

<%= raw liquidize @publisher_category.list_liquid_template, 'places' => @perspectives %>
